

*{
  box-sizing: border-box;
}

body{
	background: #becb9d;
}

header{
  text-align: center;
}

img{
  width: 150px;
  height: 100px;  
  border: 1.5px solid maroon;
  border-radius: 10px; 
}

figure{
  margin-bottom: 20px;
  margin-top: 70px;
}  

h1{
  color: maroon; 
  font-family: Georgia;
  position: fixed;
  top: 0;
  width:100%;
}

nav{
  margin-top: 50px;
}

.sections h2{
  color: maroon; 
}

.sections{
  font-family: 'Lucida Sans';
}

.sections a{
   color: black;
}

.topics a{
  color:white;
}

.topics li{
  display: inline-block;
  background-color: maroon;
  width:200px;
  text-align: center;
  height: 40px;
  margin: 2px;
  padding:5px;
  border-radius: 5px;
}

ul li{
  font-family:Consolas;
}

.topics li:hover{
  background-color: #becb9d ;
  border: 3px solid maroon;
}

.topics a:hover{
  color:black;
}

